<div class="page-editor-view-container">
    <app-title-page-editor-container [selectedPageId]="selectedPageId$ | async">
    </app-title-page-editor-container>

    <div class="container-fluid">
        <div class="row">
            <div class="
            col-md-10 offset-md-1
            col-lg-8 offset-lg-2
            col-xl-8 offset-xl-2">
                <app-page-editor [pageBrickIdProvider]="pageBrickIdProvider.bind(this)"
                                 (pageBodyUpdated)="pageBodyUpdated($event)" [pageBody]="pageBody"></app-page-editor>
            </div>
        </div>
    </div>
</div>
