<div #container [formGroup]="pageForm" class="page-editor-view-container">
    <o-header-control (enter)="onHeaderEnterHandler()" formControlName="title"
                      placeholder="Untitled"></o-header-control>

    <div class="container-fluid">
        <div class="row">
            <div class="
            col-md-10 offset-md-1
            col-lg-8 offset-lg-2
            col-xl-8 offset-xl-2">
                <div [pick-out-area]="{scrollableContainer: container}">
                    <wall [model]="wallModel"></wall>
                </div>
            </div>
        </div>
    </div>
</div>
