<p class="empty-message" *ngIf="!dataSource.data.length"><i>No pages yet</i></p>

<mat-tree [dataSource]="dataSource" [trackBy]="trackByFn" [treeControl]="treeControl">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button *ngIf="node.level === 0" disabled mat-icon-button></button>
        <a mat-button [routerLink]="['/page', node.id]">{{node.title}}</a>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle>
            <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>

        <a mat-button [routerLink]="['/page', node.id]">{{node.title}}</a>
    </mat-tree-node>
</mat-tree>

