@import "~@angular/material/theming";

a {
  width: 100%;
  text-align: left;
  border-style: dashed;
  color: inherit;
  text-decoration: none;
}

mat-icon {
  margin-right: 5px;
}

@media ($mat-small) {
  a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
