<div [formGroup]="pageForm">
    <mat-form-field>
        <input autocomplete="off" #input matInput placeholder="Find your pages" formControlName="query">
    </mat-form-field>
</div>

<mat-nav-list>
    <a mat-list-item [routerLink]="['/page/', pageSearchItem.pageId]"
       *ngFor="let pageSearchItem of (pageSearchItems$ | async)"> {{ pageSearchItem.pageTitle }} </a>
</mat-nav-list>

<div class="empty" *ngIf="(pageSearchItems$ | async)?.length === 0">
    <i>{{emptyText$ | async}}</i>
</div>

