<div [formGroup]="pageForm">
    <mat-form-field>
        <input #input matInput placeholder="Find your pages" formControlName="query">
    </mat-form-field>
</div>

<mat-action-list>
    <button *ngFor="let pageSearchItem of (pageSearchItems$ | async)" mat-list-item
            (click)="selectSearchItem(pageSearchItem)">
        {{pageSearchItem.pageTitle}}
    </button>
</mat-action-list>

<div class="empty" *ngIf="(pageSearchItems$ | async)?.length === 0">
    <i>{{emptyText$ | async}}</i>
</div>

