@mixin origin-core() {
  html, body {
    height: 100%;
  }

  body {
    margin: 0;
  }

  .pick-out-area,
  .tow-placeholder {
    z-index: 2;
  }

  a {
    color: inherit;

    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  button:focus {
    outline: none;
  }
}
