<div class="page-editor-view-container" #container>
    <div class="container-fluid">
        <div class="row">
            <div class="
            col-md-10 offset-md-1
            col-lg-8 offset-lg-2
            col-xl-8 offset-xl-2">
                <app-title-page-editor-container (unfocus)="onHeaderEnterHandler()"
                                                 [selectedPageId]="pageViewQuery.selectedPageId$ | async">
                </app-title-page-editor-container>
            </div>
        </div>
    </div>

    <div class="container-fluid" [pick-out-area]="{scrollableContainer: container}">
        <div class="row">
            <div class="
            col-md-10 offset-md-1
            col-lg-8 offset-lg-2
            col-xl-8 offset-xl-2">
                <app-body-page-editor-container [scrollableContainer]="container"></app-body-page-editor-container>
            </div>
        </div>
    </div>
</div>
