<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" [trackBy]="trackByFn">
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <a [routerLink]="['/page', node.id]">{{node.title}}</a>

        <button mat-icon-button color="primary" (click)="removePage(node.id)">
            <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
        </button>
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle>
            <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>

        <a [routerLink]="['/page', node.id]">{{node.title}}</a>

        <button mat-icon-button color="primary" (click)="removePage(node.id)">
            <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
        </button>
    </mat-tree-node>
</mat-tree>
