<mat-sidenav-container>
    <mat-sidenav #sidenav [mode]="(deviceLayoutService.mobileLayout$ | async) ? 'over' : 'side'">
        <mat-nav-list>
            <a [routerLink]="['/settings']" mat-list-item>Settings</a>
        </mat-nav-list>

        <mat-divider></mat-divider>
        <br>

        <app-page-tree-flat-container></app-page-tree-flat-container>

        <mat-nav-list>
            <br>
            <button class="add-page" (click)="addPage()" mat-button>Add page</button>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <div class="main-portal-wrapper">
                <button mat-icon-button (click)="toggleMenu()">
                    <mat-icon *ngIf="shellQuery.isMenuOpen$ | async">chevron_left</mat-icon>
                    <mat-icon *ngIf="!(shellQuery.isMenuOpen$ | async)">chevron_right</mat-icon>
                </button>

                <ng-template [cdkPortalOutlet]="mainPortal"></ng-template>
            </div>
            <div>
                <ng-template [cdkPortalOutlet]="secondaryPortal"></ng-template>
            </div>
        </mat-toolbar>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
