<mat-sidenav-container class="page-base-view-container">
    <mat-sidenav #sidenav opened [mode]="mobileQuery.matches ? 'over' : 'side'">
        <app-page-tree-flat-container></app-page-tree-flat-container>

        <button mat-stroked-button (click)="addPage()">Add page</button>

        <hr>

        <mat-nav-list>
            <a mat-list-item [routerLink]="['/settings/database']">Database</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <p>
            <button mat-button (click)="sidenav.toggle()">Toggle</button>
        </p>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
