<mat-sidenav-container class="page-base-view-container">
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" opened>
        <app-page-tree-flat-container></app-page-tree-flat-container>

        <button (click)="addPage()" mat-stroked-button>Add page</button>

        <hr>

        <mat-nav-list>
            <a [routerLink]="['/settings']" mat-list-item>Settings</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <p>
            <button (click)="sidenav.toggle()" mat-button>Toggle</button>
        </p>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
