<input-projection [keyStream$]="keyStream$" (value)="onValue($event)">
    <!-- Register Recently viewed pages. -->
    <ng-container cdkInputProjectionDef [stream]="pageSearch$">
        <p class="title" *cdkPanelItemTitle>Pages</p>
        <div class="pick-item" *cdkPanelItem="let item">{{item.title}}</div>
    </ng-container>

    <!-- Register Recently viewed pages. -->
    <ng-container cdkInputProjectionDef [stream]="recentlyViewedPages$">
        <p class="title" *cdkPanelItemTitle>Recently viewed</p>
        <div class="pick-item" *cdkPanelItem="let item">{{item.title}}</div>
    </ng-container>
</input-projection>

<i class="empty" *ngIf="showEmptyText$ | async">{{emptyText$ | async}}</i>
