<mat-sidenav-container class="settings-view-container">
    <mat-sidenav #sidenav [mode]="'side'" opened>
        <mat-nav-list>
            <a [routerLink]="['./database']" mat-list-item>Database</a>
        </mat-nav-list>

        <hr>

        <mat-nav-list>
            <a [routerLink]="['/page']" mat-list-item>Page</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <p>
            <button (click)="sidenav.toggle()" mat-button>Toggle</button>
        </p>

        <p>
            <button (click)="googleSignService.signIn()" *ngIf="!(googleSignService.user$ | async)" mat-button>Sign in
            </button>
        </p>

        <div *ngIf="googleSignService.user$ | async">
            <button (click)="googleSignService.signOut()" mat-button>Sign out</button>

            <pre>{{(googleSignService.user$ | async)?.displayName}}</pre>
        </div>

        <hr>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
