<div class="editable-text">
    <button (click)="editUrl = !editUrl" *ngIf="!editUrl" mat-stroked-button>Edit</button>
    <button (click)="editUrl = !editUrl" *ngIf="editUrl" mat-stroked-button>Cancel</button>
    <button (click)="editUrl = !editUrl; updateValue()" *ngIf="editUrl" mat-stroked-button>Save</button>

    <span *ngIf="!editUrl" title="{{value}}">{{value || "No Remote Url"}}</span>

    <div *ngIf="editUrl" class="editable-container">
        <mat-form-field>
            <input #inputElement [ngModel]="value" matInput placeholder="Remote DB Url">
        </mat-form-field>
    </div>
</div>
