<div class="editable-text">
    <button *ngIf="!editUrl" mat-stroked-button (click)="editUrl = !editUrl">Edit</button>
    <button *ngIf="editUrl" mat-stroked-button (click)="editUrl = !editUrl">Cancel</button>
    <button *ngIf="editUrl" mat-stroked-button (click)="editUrl = !editUrl; updateValue()">Save</button>

    <span title="{{value}}" *ngIf="!editUrl">{{value || "No Remote Url"}}</span>

    <div *ngIf="editUrl" class="editable-container">
        <mat-form-field>
            <input #inputElement matInput placeholder="Remote DB Url" [ngModel]="value">
        </mat-form-field>
    </div>
</div>
