<mat-sidenav-container class="page-base-view-container">
    <mat-sidenav #sidenav opened [mode]="mobileQuery.matches ? 'over' : 'side'">
        <app-page-tree-flat-container></app-page-tree-flat-container>

        <button (click)="addPage()">Add page</button>
    </mat-sidenav>

    <mat-sidenav-content>
        <p>
            <button mat-button (click)="sidenav.toggle()">Toggle</button>
        </p>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

