@mixin dialog() {
  .default-screen {
    min-width: 70vh;
    max-height: 80vh;
  }

  .full-screen {
    width: 100%;
    max-width: 100% !important;
    height: 100vh;

    .mat-dialog-container {
      border-radius: 0;
    }
  }
}
