.editable-input-control {
  display: flex;
  align-items: center;

  .editable-input-container {
    flex-grow: 1;

    .mat-form-field {
      display: block;
    }
  }

  button {
    margin-right: 10px;
  }
}
