<div class="container-fluid">
    <div class="row">
        <div class="
            col-md-10 offset-md-1
            col-lg-8 offset-lg-2
            col-xl-8 offset-xl-2">
            <h1>Hi there!</h1>

            <p>
                I'm really glad that you decide to check what that app is about. Speaking briefly it's note taking app
                with nice editing experience. Images, code snippets, videos and of course text. Actually everything what
                you might need for personal memories. What is even more cooler is that is not a static version, it
                might be easily extended by new components.
            </p>

            <p>
                The ultimate goal is to create lightweight place for storing personal memos. No team collaborative tools
                just for personal thoughts.
                I'm working hard to
                achieve it taking into account all time and resource limitation.
            </p>

            <p>
                That is my hobby project but all great stuff were starting from enthusiasm, huh?
            </p>

            <p>
                Take into account that it's <a href="https://github.com/vm-mishchenko/origin-app">Open Source
                project</a> with all the attendant consequences. Time is a most
                valuable resource so
                if you would like to spend some of it helping - You are welcome!
                Why do you wanna do that? Hm, maybe you just start programming and looking for the place where you can
                practice with real world tasks, code review and etc. Or you always wanna integrate search engine from
                scratch and it might be a good playground for you. And finally I don't exclude you are looking for such
                sort of application and wanna help to build it.
            </p>

            <p>
                Any questions? <br>
                <a href="mailto:vm.mishchenko@gmail.com">vm.mishchenko@gmail.com</a> <br>
                <a target="_blank" href="https://github.com/vm-mishchenko">https://github.com/vm-mishchenko</a><br>
                <a target="_blank" href="https://www.linkedin.com/in/vitalii-mishchenko">https://www.linkedin.com/in/vitalii-mishchenko</a>
            </p>

            <p>So, enough about project.</p>

            <p>
                <button (click)="awesomeStuffStartsHere()" mat-flat-button color="accent">
                    Let's create your first page.
                </button>
            </p>

            <p>
                p.s. if you like the idea but app is not impressed you and you still looking for alternative check
                <a href="notion.so">notion.so</a>. I was highly amazed when I first time found it. Actually it
                inspired me for building my own version. There are some other nice projects as well: <a
                    href="https://github.com/notable/notable">https://github.com/notable/notable</a>, <a
                    href="https://bear.app">https://bear.app</a>
            </p>
        </div>
    </div>
</div>
